<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="shortcut icon" href="/static/images/rumo_favicon.png" type="image/x-icon">
    <style>
        .right2 {
            display: none;
        }
    </style>
    <title>Rumo</title>
</head>

<body class="bg-chatblack-50">
    <div class="flex h-[100vh] text-black">
        <div class="left bg-[#FFFFFF] w-4/14 h-full flex flex-col" >
            <button
                class="w-[90%] py-2 m-2 px-10 space-x-2 border-black border rounded-md flex mx-4 justify-start items-center hover:opacity-10 black-button" id="newDestinationButton">
                <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round"
                    stroke-linejoin="round" class="h-4 w-4" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                    <line x1="12" y1="5" x2="12" y2="19"></line>
                    <line x1="5" y1="12" x2="19" y2="12"></line>
                </svg>
                <span class="white-text">New Destination?</span>
            </button>
            <div class="text-xs m-4 mx-8 text-black">Chat History</div>
            <div class="chats flex flex-col justify-center items-center space-y-2">
                <div class="chats flex flex-col justify-center items-center space-y-2">
    {% for chat in myChats %}
    <div id="chat-{{ loop.index }}" class="chat space-x-2 opacity-10 w-[90%] px-3 py-2 rounded-md bg-black cursor-pointer  flex justify-start items-center">
        <svg class="h-4 w-4 icon" stroke="currentColor" fill="none" stroke-width="1" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" xmlns="http://www.w3.org/2000/svg">
            <path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"></path>
        </svg>
            <span>{{ chat.question }}</span>
        </div>
    {% endfor %}
</div>

            </div>
        </div>


        <div class="right1 w-10/14 flex justify-center items-center flex-col">
            <img src="/static/images/rumo_logo.png" class="logo" style="width: 230px; height: auto; margin-bottom: 70px;">
    <img src="/static/images/rumo_main.png" class="my-0" style="width: 550px; height: auto; margin-top: -10px;">
            <div class="input w-full text-center my-0 flex items-center justify-center flex-col">
                <div class="buttonsvg pl-10 w-[50vw] flex">
                    <input class="w-full p-4 bg-gray-600 rounded-md" placeholder="Where are you planning your vacation to?" type="text"
                        name="text" id="questionInput">

                    <button id="sendButton" class="relative -left-20 pl-10">
                        <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24"
                            stroke-linecap="round" stroke-linejoin="round" class="h-4 w-4 mr-1" height="1em" width="1em"
                            xmlns="http://www.w3.org/2000/svg">
                            <line x1="22" y1="2" x2="11" y2="13"></line>
                            <polygon points="22 2 15 22 11 13 2 9 22 2"></polygon>
                        </svg>
                    </button>
                </div>
                <div class="text-xs py-2 pr-10 opacity-70">Taking you across the globe. © Rumo Mar 2024
                    Version 0.0.1 <br> Built with Google AI Studio </div>
            </div>
        </div>

        <div class="right2 w-full flex flex-col items-center h-fit">
            <div class="box1 m-auto py-7 flex justify-start w-[40vw] items-center space-x-6">
                <img class="w-9" src="" alt="">
                <div id="question1">Loading...</div>
            </div>
            <div class="box2 bg-gray-600 py-7 flex justify-center w-full items-center">
                <div class="box w-[40vw] flex justify-start space-x-6">
                    <img class="w-9 h-9" src="/static/images/rumo_wobg.png" alt="">
                    <div class="flex space-y-4 flex-col">
                        <div id="solution">Generating your itinerary...</div>
                    </div>
                </div>
            </div>

            <!-- <div class="input pt-80 w-full text-center mt-52 flex items-center justify-center flex-col">
                <div class="buttonsvg pl-16 w-[50vw] flex">
                    <input class="w-full p-4 bg-gray-600 rounded-md" placeholder="Any other queries?" type="text"
                        name="text" id="question1">

                    <button class="relative -left-20 pl-10">
                        <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24"
                            stroke-linecap="round" stroke-linejoin="round" class="h-4 w-4 mr-1" height="1em" width="1em"
                            xmlns="http://www.w3.org/2000/svg">
                            <line x1="22" y1="2" x2="11" y2="13"></line>
                            <polygon points="22 2 15 22 11 13 2 9 22 2"></polygon>
                        </svg>
                    </button>
                </div>
                <div class="text-xs py-2 pr-10 opacity-70">Taking you across the globe. © Rumo Mar 2024
                    Version 0.0.1 <br> Built with Google AI Studio</div>
            </div> -->
            <div class="text-xs py-2 pr-10 text-center flex items-center justify-center flex-col opacity-70">Taking you across the globe. © Rumo Mar 2024
                Version 0.0.1 <br> Built with Google AI Studio</div>

        </div>

    </div>
    <script src="/static/js/script.js"></script>
    <!-- <script>
        // Function to handle sending the message
        async function sendMessage(question) {
            document.getElementById("questionInput").value = question;
            document.querySelector(".right2").style.display = "block";
            document.querySelector(".right1").style.display = "none";

            // Populate the questions
            document.getElementById("question1").innerHTML = question;
            

            // Get the answer and populate it
            let result = await postData("/api", { "question": question });
            document.getElementById("solution").innerHTML = result.answer;
        }

        // Add event listeners to chat buttons
        document.querySelectorAll(".chat").forEach(chat => {
            chat.addEventListener("click", () => {
                const question = chat.querySelector("span").innerText;
                sendMessage(question);
            });
        });
    </script> -->
</body>

</html>
